 body{
    margin: 0px;
    padding: 0px;


}
.header{
    background-color:#004dd1;
}
.navbar{
    padding-top: 10px !important;

}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color: white; 
    font-size: 12px;
    padding: 0, 0, 5, 0;
    display: unset;

}

.branding{
    
    color:white;
}

.logo-image{
    width: 120px;
    height: 40px;

}

.logo{
    display: flex;
    align-items: center;
}
.fa-bars{
    color:white;
    font-size:  40px;
}
.navbar-toggler{
    border: 0;
    outline: none;
    padding: initial;
}