 body{
    margin: 0;
    padding: 0;

}
.header{
    background-color: black;
}
.navbar{
    padding-top: 10px !important;
}
.nav-item{
    margin-left: 100px;
    margin-bottom: 10px;
}
.nav-link{
    color:white; 
    margin-left: 40px;
    margin-bottom: 10px;
    padding: 0, 0, 5, 0;
    display: unset;


}

.branding{
    
    color:white;
}

.logo-image{
    width: 120px;
    height: 40px;

}

.logo{
    display: flex;
    align-items: center;
}
.fa-bars{
    color:white;
    font-size:  40px;
}