 body{
    margin: 0px;
    padding: 0px;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;


}
.header{
    width: 100%;
    height: 10vh;
    background-color:#144699;
    background-position: center;
    position: relative;
  
} 

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    text-align: center;

}
.nav-item ul{
    list-style: none;
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color: white; 
    font-size: 12px;
    padding: 28px 0;
    display: unset;

}
.nav-link li{
    display: flex;
    margin: 0, 15px;
}


.branding{
    
    color:white;
}

.logo-image{
    width: 120px;
    height: 40px;

}

.logo{
    display: flex;
    text-align: center;
   
}nav-link li a{
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 25px 20px;
    font-family: Arial,

}
ul{
   list-style: none;
}
.nav ul li{
    display:inline-block;
    margin-right: 20px;
}

.nav li a :hover{
    color:#fff;
    transition: 0, 4sec, ease 0;
}
.banner{
    margin-top: 8%;
}
.style content {
  max-width: 500px;
  margin: auto;
}

.banner h1{
    margin: 80px, 50px;
    font-size: 50px;
}
.bannerimg{
    max-height: 500p;  
}
.banner a{
    padding: 12px;
    width: 150px;
    display:  inline-block;
    background-color:silver;
    text-decoration: none;
    color:#fff;
    border:2px solid, #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.banner a:hover{
    color:#fff;
}
.express-btn{
    background:#fff ;
    color: white;
    margin-right: 5px;


}
